@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Modern+Antiqua&family=Montserrat:ital,wght@0,300;0,500;1,300&family=Poppins:ital,wght@0,400;0,500;1,400&family=Special+Elite&display=swap');

/* .im-fell-english-regular {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
} */

:root {
  --line-height: 1.6;
  /* Tailwind neutral-200 */
  --neutral-200: #e5e5e5;
  /* Tailwind neutral-300 */
  --neutral-300: #d4d4d4;
  /* Tailwind neutral-400 */
  --neutral-400: #a3a3a3;
    /* Tailwind neutral-500 */
    --neutral-500: #737373;
    /* Tailwind neutral-600 */
    --neutral-600: #525252;
  /* Tailwind neutral-700 */
  --neutral-700: #404040;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--neutral-200);
  background: var(--neutral-700);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: "IM Fell English", serif;
  margin: 0 auto;
  max-width: 55rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
  padding-bottom: 0.3rem;
}

@media (min-width: 60rem) {
  h1 {
    font-size: 2.2rem;
    padding-bottom: 1rem;
  }
}

nav { font-family: "IM Fell English", serif; }

a {
  font-weight: bold;
  color: var(--neutral-400);
  text-decoration: none;
}
a:hover {
  color: var(--neutral-500);
}

p {
  line-height: var(--line-height);
  margin-bottom: 1rem;
}

li { margin-bottom: 0.5rem; }

/* Navbar */
.navbar-container {
  color: var(--neutral-700);
  background: var(--neutral-200);
}

nav {
  display: flex;
  justify-content: start;
  font-size: 1.1rem;
  max-width: 75rem;
  margin: 0 auto;
  min-height: 3.5rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
  position: relative;
}

.navbar-logo-container {
  align-items: center;
}

.navbar-logo {
  width: 3.2rem;
}

.navbar-logo-text {
  display: none;
}

.navbar-links-container {
  align-items: center;
  display: none;
}

.nav-link {
    border-radius: 0.3rem;
    margin-left: 1rem;
    padding: 0.3rem 0.75rem;
  }
.nav-link:hover, .social-icon-link:hover {
  background-color: var(--neutral-300);
}

.social-icon-link-container {
  display: flex;
}

.social-icon-link {
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  margin: 0 8px;
  padding: 0.2rem;
}

.navbar-slideout-menu {
  background: var(--neutral-200);
  color: var(--neutral-700);
  display: flex;
  flex-direction: column;
  opacity: 0;
  padding-left: 1rem;
  padding-top: 1rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 4.2rem;  
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  width: 20rem;
}

.navbar-slideout-menu a {
  margin-bottom: 1rem;
}

.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.toggle-button {  
  display: flex;
  flex-direction: column;  
  height: 21px;
  justify-content: space-between;
  position: absolute;
  right: 1.2rem;
  top: 1.4rem;
  width: 30px;
}

.toggle-button .bar {
  background-color: var(--neutral-500);
  border-radius: 10px;
  height: 3px;
  width: 100%;
}

@media (min-width: 45rem) {
  nav {
    font-size: 1.6rem;
    justify-content: space-between;
  }
  .navbar-logo-container {
    display: flex;
  }
  .navbar-logo {
    min-width: 3rem;
  }
  .navbar-links-container {
    display: flex;
  }
  .toggle-button {
    display: none;
  }
}

/* Section */
.section-container {
  padding: 1rem;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */
footer {
  background: var(--neutral-200);
  color: var(--neutral-700);
  padding: 0.5rem;
  text-align: center;
}
