.page {
  @media (min-width: 40rem) {
    .style-type-summary-container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .style-type-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 calc(50% - 1rem); /* Each item takes up 50% of the container's width, minus the gap */
    box-sizing: border-box;
  }

  @media (min-width: 60rem) {
    .style-type-summary {
      flex: 1 1 calc(33.333% - 1rem);
    }
  }

  .style-type-summary h2 {
    margin-top: 0.5rem;
  }

  .style-type-summary p {
    max-width: 20rem;
    margin-top: 0.5rem;
    text-align: center;
  }

  .drawing-snippet {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border: 5px solid #a3a3a3;
  }

  .drawing-snippet--isometric {
    background-image: url("/drawing-snippet-isometric.jpg");
  }
  .drawing-snippet--topdown-interior {
    background-image: url("/drawing-snippet-topdown-interior.jpg");
  }
  .drawing-snippet--topdown-exterior {
    background-image: url("/drawing-snippet-topdown-exterior.jpg");
  }
  .drawing-snippet--region {
    background-image: url("/drawing-snippet-region.jpg");
  }
  .drawing-snippet--sideview {
    background-image: url("/drawing-snippet-sideview.jpg");
  }
  .drawing-snippet--hexmap {
    background-image: url("/drawing-snippet-hexmap.jpg");
  }

  .commission-section-container {
    background: var(--neutral-200);
    color: var(--neutral-700);
  }

  .main-page-section {
    padding: 1rem;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
  }
  .main-page-section-btn-container {
    display: flex;
    justify-content: center;
  }
  .main-page-section button {
    border: none;
    cursor: pointer;
    font-size: 1.2rem;  
    margin: 1rem 0;
    padding: 0.75rem 1.25rem;
  }
  .commission-section-btn {
    background-color: var(--neutral-500);
    color: var(--neutral-300);
  }
  .commission-section-btn:hover {
    background-color: var(--neutral-600);
  }
  .about-section-btn {
    background-color: var(--neutral-300);
    color: var(--neutral-500);
  }
  .about-section-btn:hover {
    background-color: var(--neutral-400);
  }
  .main-page-section p {
    margin: 0 auto;
    max-width: 45rem;
  }
  .commission-image-container {
    text-align: center;
  }
  .commission-image {
    height: auto;
    margin: 0 auto;
    width: 16rem;
  }
}