.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  @media (min-width: 40rem) {
    .style-type-summary-container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .style-type-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 calc(50% - 1rem); /* Each item takes up 50% of the container's width, minus the gap */
    box-sizing: border-box;
  }

  @media (min-width: 60rem) {
    .style-type-summary {
      flex: 1 1 calc(33.333% - 1rem);
    }
  }

  .style-type-summary h2 {
    margin-top: 0.5rem;
  }

  .style-type-summary p {
    max-width: 20rem;
    margin-top: 0.5rem;
    text-align: center;
  }

  .drawing-snippet {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border: 5px solid #a3a3a3;
  }

  .drawing-snippet--isometric {
    background-image: url("/drawing-snippet-isometric.jpg");
  }
  .drawing-snippet--topdown-interior {
    background-image: url("/drawing-snippet-topdown-interior.jpg");
  }
  .drawing-snippet--topdown-exterior {
    background-image: url("/drawing-snippet-topdown-exterior.jpg");
  }
  .drawing-snippet--region {
    background-image: url("/drawing-snippet-region.jpg");
  }
  .drawing-snippet--sideview {
    background-image: url("/drawing-snippet-sideview.jpg");
  }
  .drawing-snippet--hexmap {
    background-image: url("/drawing-snippet-hexmap.jpg");
  }
}

/* @media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
} */
